body {
    text-align: center;
    padding: 0;
    margin: 0;
}


/**
 *  Header
 */


.header {
    display: inline-block;
    width: 900px;
    font-family: sans-serif;
}

.nav {
    padding-top: 15px;
    overflow: hidden;
}

.nav > span {
    font-size: 1.5em;
    display: inline-block;
    color: #3371A6;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 15px;
    margin-top: 10px;
}

.nav > span:first-child {
    color: orange;
    font-weight: normal;
    text-transform: none;
}

.header nav {
    float: right;
    display: inline-block;

}

.header nav a {
    font-size: 0.8em;
    display: inline-block;
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 10px 25px 10px;
    border-bottom: solid 3px rgba(0,0,0,0);
}

.header nav a:hover {
    color: #3371A6;
    border-bottom: solid 3px;
}

.banner {
    margin-top: -4px;
    background: url('../imgs/banner.png');
    background-size: cover;
}

.banner-text {
    width: 900px;
    display: inline-block;
    color: white;
    padding: 100px 75px;
}

.banner-text p {
    display: inline-block;
    font-family: sans-serif;
    margin: 0;
}

.banner-text p:first-child {
    font-size: 1.2em;
    letter-spacing: 4px;
}

.banner-text .features {
    text-transform: uppercase;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: 5px;
}

.banner-text .details span {
    display: inline-block;
    max-width: 60%;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.6em;
    margin: 10px 0;
}

.banner-text button {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    border: solid 1px rgba(255,255,255,.5);
    margin-top: 25px;
    padding: 15px 35px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
}

.banner-text button:focus {
    outline: none;
}

.banner-text button:active {
    border: solid 1px rgba(255,255,255,.5);
    box-shadow:  0px 0px 0px 1px rgba(0,0,0,0.4);
}


/**
 * Services
 */


.services {
    padding: 50px 15px 50px 15px;
    width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
}

.services h2 {
    margin-bottom: 65px;
    color: #41525c;
    text-transform: uppercase;
}

.service h3 {
    color: #3070a8;
    text-transform: uppercase;
}

.service {
    display: inline-block;
    width: 250px;
    margin: 0 15px;
    color: #999999;
}


/**
 *  Middle
 */

.middle {
    width: 100%;
    background: url('../imgs/middle-bg.png');
    background-size: cover;
    font-family: sans-serif;
}

.middle-text {
    margin: 0 auto;
    text-align: left;
    width: 900px;
    padding: 65px 25px;
}

.middle-text h2 {
    text-align: left;
    width: 650px;
    text-transform: uppercase;
    color: #c46d27;
    font-weight: normal;
    margin-bottom: 15px;
}

.middle-text h2 + span {
    display: inline-block;
    width: 600px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
}

.middle-text ul {
    width: 550px;
}

.middle-text li {
    line-height: 1.5em;
    margin: 15px 0;
}

.middle-text li:nth-of-type(odd) {
    color: #5a5c5c;
}
.middle-text li:nth-of-type(even) {
    color: #2b4b66;
}

/**
 *  Offers
 */


.offers {
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 50px;
}

.wrapper {
    position: relative;
    display: block;
    width: 275px;
    background-color: #F78429;
    padding: 5px;
    box-shadow: 0px 0px 7px 0px #999;
    border-radius: 5px;
    float: left;
    overflow: hidden;
}
.wrapper div, .wrapper ul, .wrapper button {
    padding: 7px 0;
}

.center {
    z-index: 2;
}

h2 {
    text-align: center;
    color: #41525C;
    font: bold 140% Arial;
    margin-bottom: 40px;
}

.wrapper > .head {
    text-align: center;
    padding: 10px 10px 20px 10px;
    margin: 0 auto;
    background-color: #F78429;
    color: white;
    font: bold 120% Arial;
}

.wrapper > .body {
    background-color: white;
    padding: 15px;
    padding-bottom: 25px;
}

.body > .title {
    text-align: center;
    font: normal 120% Arial;
}

.body > .price {
    color: #32495B;
    text-align: center;
    font: bold 400% Arial;
    margin: 0 10px;
}

.body > .price:before {
    content: '$';
    display: inline-block;
    position: absolute;
    margin-left: -15px ;
    font: normal 40% Arial;
}
.body > .price:after {
    content: 'Monthly';
    display: inline-block;
    position: absolute;
    margin-top: 55px ;
    font: normal 30% Arial;
}

.body > ul {
    list-style-type: none;
}

.body > ul > li:nth-of-type(odd) {
    background-color: #F5FDFF;
}
.body > ul > li:nth-of-type(even) {
    background-color: #FAFAFA;
}

.body > ul > li {
    text-align: left;
    padding-left: 60px;
    font: normal 100% Arial;
    color: #aaa;
    padding-top: 5px;
    padding-bottom: 5px;
}

.body > ul > li:before {
    background-image: url('../imgs/-.png');
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content:"";
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
}

.body button {
    display: block;
    font: bold 100% Arial;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: solid 3px #F78429;
    color: white;
    padding: 7px;
    background-color: orange;
}

#left-button {
    background-color: #3371A6;
    border-bottom: solid 3px #16436A;
}

#right-button {
    background-color: #3371A6;
    border-bottom: solid 3px #16436A;
}

.body button:focus {
    outline: none;
}

button:active {
    border-bottom: none;
    border-top: solid 3px orange;
}

#left-button:active {
    border-bottom: none;
    border-top: solid 3px #3371A6;
}

#right-button:active {
    border-bottom: none;
    border-top: solid 3px #3371A6;
}

.left, .right {
    border-radius: 5px;
    padding: 0;
    margin-top: 10px;
    z-index: 1;
}

.left {
    margin-right: -5px;
}
.right {
    margin-left: -5px;
}

.left > .head, .right > .head {
    padding: 10px;
}

.left > .head {
    background-color: #37C2D3;
}

.right > .head {
    background-color: #1CB79A;
}


/**
 * What clients says
 */


.comments-wrapper {
    background: url("../imgs/bg.png");
    background-size: 100%;
    padding: 25px 125px;
    min-width: 300px;
    overflow: hidden;
    text-align: justify;

}

.comment {
    display: inline-block;

    vertical-align: top;
    margin: 25px;
}

h2 {
    text-align: center;
    color: #356B9B;
}

.first {
    color: #E47F32;
}

.comment-photo {
    position: relative;
    display: block;
    margin-right: 25px;
    float: left;
}

.comment-photo > img {
    width: 100px;
    height: 100px;
}

.comment-photo:after {
    content: '';
    position: absolute;
    right: -25px;
    top: 40px;
    border: 10px solid transparent;
    border-right: 15px solid white;
}

.comment-wrapper {
    min-width: 100px;
    max-width: 285px;
    padding: 7px 12px;
    background-color: white;
    overflow: hidden;
}

.comment-header {
    color: #356B9B;
    font: oblique 80% Verdana;
    background-color: white;
    border-bottom: dashed 1px gray;
    margin: 0;
    padding-bottom: 5px;
}

.name:before {
    color: gray;
    content: ' - ';
}

.position {
    float: right;
}

.comment-text {
    font: normal 80% Verdana;
    margin: 0;
    padding-top: 5px;
    color: #555;
    background-color: white;
}

/**
 *  Pre-Footer
 */

.pre-footer {
    overflow: hidden;
}

.pre-footer-left {
    display: block;
    float: left;
    width: 50%;
}

.pre-footer-right {
    position: relative;
    display: block;
    float: right;
    width: 50%;
    -height: 600px;
}

.pre-footer-right img {
    top: 0;
    left: 0;
    position: absolute;
    min-height: 75%;
    min-width: 75%;
    display: block;

}

.pre-footer-contant {
    padding: 25px 15px;
    float: right;
    width: 450px;
}

.pre-footer-contant > ul {
    padding: 100px;
}

.pre-footer-contant ul {
    text-align: left;
    font-family: sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: gray;
}

.pre-footer-contant li {
     display: inline-block;
     width: 100%;
    padding: 7px 0;
}

.pre-footer-contant .outer > li {
    padding-left: 65px;
}

.pre-footer-contant > ul > li:nth-of-type(3n + 1):before{
    content: url('../imgs/footer_ico_1.png');
    position: absolute;
    margin-left: -50px;
}

.pre-footer-contant > ul > li:nth-of-type(3n + 2):before{
    content: url('../imgs/footer_ico_2.png');
    position: absolute;
    margin-left: -50px;
    margin-top: -5px;
}

.pre-footer-contant > ul > li:nth-of-type(3n + 3):before{
    content: url('../imgs/footer_ico_3.png');
    position: absolute;
    margin-left: -52px;
}

.pre-footer-contacts {
    margin-top: 25px;
    text-align: left;
}

.pre-footer-contacts img {
    margin: 0 10px;
}

/**
 *  Footer
 */

.footer {
    padding: 25px 0;
    background-color: #3070A8;
}

.footer > span {
    font-size: 0.9em;
    font-family: sans-serif;
    display: block;
    color: white;
    padding: 5px 0;
}

.footer .comp-name {
    font-weight: bold;
}

.footer .designed-by {
    font-weight: bold;
    color: black;
}
